@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-hero {
    clip-path: polygon(0 15%, 100% 35%, 100% 95%, 0 75%);
  }

  .clip-hero-border {
    background: linear-gradient(#edb63b 50%, #f9f9f9 50%);
    clip-path: polygon(0 13%, 100% 33%, 100% 97%, 0 77%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  background-color: #2b2b2b;
}

video::-webkit-media-controls {
  display: none !important;
}
